<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>csv-view</title>
</head>
<body>
    
 <form action="/csv-views" method="post" enctype="multipart/form-data">
    <label for="csv">Choose a csv File
    <input type="file"
       id="csv" name="uploaded_file">
    </label>   

    <input type="submit" value="submit">
 </form> 

</body>
</html>